<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" verbose="2">
    <test name="Example">
        <classes>
            <class name="cookieRead"></class>
            <class name="cookieWrite"></class>
            <class name="searchTest"></class>
        </classes>
    </test>

    <test name="Example-2">
        <classes>
            <class name="pom.searchTest_1"></class>
        </classes>
    </test>
</suite>